/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Lucida Console";
	color: lawngreen;
}

.about-me {
	background-color: mediumblue;
	color: white;
	padding: 30px;
}

.black-background {
	background-color: black;
	opacity: .8;
}

.center {
	margin: auto;
	text-align: center;
	align-content: center;
	display: block;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}

.form-wrapper {
    background-color: darkgreen;
			/*rgba(124, 252, 0, .6);
			*/
    margin: 40px;
	color: lawngreen;
}

h1 {
	display: inline-block;
}

.instructions-content {
	color: black;
	flex-grow: 2;
}

.instructions-wrapper {
	border: 4px solid black;
    padding: 10px;
	display: flex;
	flex-direction: row;
	margin: 30px;
}

.janeway {
    margin: 20px;
    width: 25%;
    height: 25%;
}

.left {
	float: left;
	display: inline-block;
	width: 30%;
}

.picard {
	border: 3px solid white;
	margin-right: 30px;
}

.right {
    float: right;
}

.skillzH2 {
    color: black;
    display: block;
}

table, td, th{
    table-layout: fixed;
    width: 70%;
	border-collapse: collapse;
	border: 2px solid white;
	text-align: left;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}







/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/